{{!-- main.hbs --}}
<h2>List de productos</h2>
{{#if listExist}}
<table>
    <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Thumbmail</th>
    </tr>
    {{#each productos}}
    <tr>
        <td>{{this.title}}</td>
        <td>{{this.price}}</td>
        <td>{{this.thumbmail}}</td>
    </tr>
    {{/each}}
    
</table>
{{/if}}

<a href="/form">Ir a formulario de productos</a>

<br><br><br>
    <form onsubmit="return addProducto(this)">
        <input type="text" id="title" placeholder="Titulo del producto">			
        <input type="text" id="price" placeholder="Precio del producto"> 			
        <input type="text" id="th" placeholder="Link a una imagen">					
        <input type="submit" value="Enviar">		
    </form>
    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Price</th>
            <th>Thumbmail</th>
        </tr>
    <div id='productos'></div>
</table>
